* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

@media (max-width: 1090px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 1090px) {
    .mobile {
        display: none;
    }
}

@media (min-width: 1090px) {
    .top-logo {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
        margin-top: 10px;
    }

    nav {
        background-color: #ff7f27;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .nav-button {
        margin: auto 15px;
        padding-left: 10px;
        padding-right: 10px
    }

    .nav-button a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }
}

@media (max-width: 1090px) {
    .top-logo {
        width: 50%;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
        margin-top: 10px;
    }

    nav {
        background-color: #ff7f27;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-button a {
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }

    .dropdown-button {
        background-color: #ff7f27;
        color: white;
        border: none;
        font-size: 1.3rem;
    }

    .dropdown {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 1.3rem;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover {
        background-color: #ffc90e;
    }

    .dropdown:hover .dropdown-button {
        color: #7f7f7f
    }
}

.intra-button:has(a:hover) {
    background-color: #4d4d4d;
}

.roy-button:has(a:hover) {
    background-color: #5a86a8;
}

.mbs-button:has(a:hover) {
    background-color: blue;
}

.bart-button:has(a:hover) {
    background-color: #30acdf;
}

.fossack-button:has(a:hover) {
    background-color: #003875;
}

.about-button:has(a:hover), .other-button:has(a:hover) {
    background-color: #ffc90e;
}

.about-button a:hover, .other-button a:hover {
    color: #7f7f7f;
}

.intra-mobile {
    color: white;
    background-color: #4d4d4d;
}

.roy-mobile {
    color: white;
    background-color: #5a86a8;
}

.mbs-mobile {
    color: white;
    background-color: blue;
}

.bart-mobile {
    color: white;
    background-color: #30acdf;
}

.fossack-mobile {
    color: white;
    background-color: #003875;
}

.other-mobile {
    color: white;
    background-color: #ff7f27;
}

.about-mobile {
    color: #7f7f7f;
    background-color: #ffc90e;
}

.yellow-bar {
    background-color: #ffc90e;
    width: 100%;
    height: 15px;
}




footer p {
    text-align: center;
    color: #7f7f7f;
    font-size: 1rem;
}

.footer-bar-1 {
    background-color: #ffc90e;
    width: 100%;
    height: 15px;
}

.footer-bar-2 {
    background-color: #ff7f27;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

@media (min-width: 880px) {
    .bottom-logo {
        width: 350px;
        display: block;
        margin-left: 15px;
        margin-bottom: 13px;
        margin-top: -10px;
    }
}

@media (max-width: 880px) {
    .bottom-logo {
        width: 50%;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin-top: -10px;
    }

    .footer-below a {
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    margin-top: 75px;
    margin-bottom: 5px;
}


.footer-below {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.rest-of-footer {
    flex-grow: 1;
}

.footer-notes {
    margin-top: -15px;
}

.footer-notes p {
    text-align: center;
}

.designed-by {
    margin-top: -18px;
}