* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

@media (min-width: 1090px) {
    .top-logo {
        width: 400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
        margin-top: 10px;
    }

    nav {
        background-color: #ff7f27;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .nav-button {
        margin: auto 15px;
        padding-left: 10px;
        padding-right: 10px
    }

    .nav-button a {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }
}

@media (max-width: 1090px) {
    .top-logo {
        width: 50%;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 13px;
        margin-top: 10px;
    }

    nav {
        background-color: #ff7f27;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }

    .nav-button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .nav-button a {
        text-align: center;
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
    }
}

.intra-button:has(a:hover) {
    background-color: #4d4d4d;
}

.roy-button:has(a:hover) {
    background-color: #5a86a8;
}

.mbs-button:has(a:hover) {
    background-color: blue;
}

.bart-button:has(a:hover) {
    background-color: #30acdf;
}

.fossack-button:has(a:hover) {
    background-color: #003875;
}

.about-button:has(a:hover), .other-button:has(a:hover) {
    background-color: #ffc90e;
}

.about-button a:hover, .other-button a:hover {
    color: #7f7f7f;
}

.yellow-bar {
    background-color: #ffc90e;
    width: 100%;
    height: 15px;
}

@media (max-width: 1360px) {
    .desktop {
        display: none;
    }
}

@media (min-width: 1360px) {
    .mobile {
        display: none;
    }
}

.desktop .content {
    width: 100%;
    height: 500px;
    margin-top: 75px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile .content {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-primary {
    background-color: #7f7f7f;
}

.content-intra {
    background-color: #4d4d4d;
}

.content-roy {
    background-color: #5a86a8;
}

.content-mbs {
    background-color: blue;
}

.content-bart {
    background-color: #30acdf;
}

.content-fossack {
    background-color: #003875;
}

.content-other {
    background-color: #ffc90e;
}

.desktop .img-box {
    width: 40%;
    height: 100%;
    overflow: clip;
}

.desktop .img-box-white {
    width: 40%;
    height: 100%;
    overflow: clip;
    background-color: white;
    display: flex;
    justify-content: center;
}

.mobile .img-box {
    width: 100%;
    height: 450px;
    margin-top: 75px;
    overflow: clip;
}

.mobile .img-box-white {
    width: 100%;
    height: 450px;
    overflow: clip;
    background-color: white;
    display: flex;
    justify-content: center;
}

.desktop .img-fh-center {
    width: 250%;
    translate: -31% -23%;
}

.mobile .img-fh-center {
    width: 300%;
    translate: -35% -23%;
}

.img-intra {
    width: 90%;
}

.img-roy {
    width: 95%;
}

.img-mbs {
    width: 90%;
}

.img-bart {
    width: 100%;
}

.img-fossack {
    width: 90%;
}

.desktop .img-fh {
    width: 90%;
}

.mobile .img-fh {
    height: 120%;
    translate: 0 -5%;
}

.content-text {
    margin: auto auto;
}

.content-text h1, .descriptor-1, .descriptor-2, .descriptor-3, .button p {
    color: white;
    text-align: center;
    font-weight: 600;
}

.content-text h1 {
    font-size: 3.5rem;
}

.mobile h1 {
    margin-top: 5px;
}

.descriptor-1 {
    font-size: 1.7rem;
    margin-top: -20px;
}

.descriptor-2 {
    font-size: 1.7rem;
    margin-top: -35px;
}

.descriptor-3 {
    font-size: 1.7rem;
    margin-top: 30px;
}

.button {
    border: 4px solid white;
    border-radius: 30px;
    height: 50px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

.button p {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 4px;
}

.button a {
    text-decoration: none;
}

.button:has(a:hover) {
    background-color: white;
}

.content-intra > .content-text > .button > a:hover > p {
    color: #4d4d4d
}

.content-roy > .content-text > .button > a:hover > p {
    color: #5a86a8
}

.content-mbs > .content-text > .button > a:hover > p {
    color: blue
}

.content-bart > .content-text > .button > a:hover > p {
    color: #30acdf
}

.content-fossack > .content-text > .button > a:hover > p {
    color: #003875
}

.content-other > .content-text > .button > a:hover > p {
    color: #ffc90e
}

footer p {
    text-align: center;
    color: #7f7f7f;
    font-size: 1rem;
}

.footer-bar-1 {
    background-color: #ffc90e;
    width: 100%;
    height: 15px;
}

.footer-bar-2 {
    background-color: #ff7f27;
    width: 100%;
    height: 35px;
    margin-bottom: 15px;
}

@media (min-width: 880px) {
    .bottom-logo {
        width: 350px;
        display: block;
        margin-left: 15px;
        margin-bottom: 13px;
        margin-top: -10px;
    }
}

@media (max-width: 880px) {
    .bottom-logo {
        width: 50%;
        min-width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin-top: -10px;
    }

    .footer-below a {
        margin-left: auto;
        margin-right: auto;
    }
}

footer {
    margin-top: 75px;
    margin-bottom: 5px;
}


.footer-below {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.rest-of-footer {
    flex-grow: 1;
}

.footer-notes {
    margin-top: -15px;
}

.footer-notes p {
    text-align: center;
}

.designed-by {
    margin-top: -18px;
}