@media (min-width: 930px) {
    .img-box {
        display: flex;
        justify-content: center;
        padding-top: 45px;
    }
    
    .top-logo-intraroute {
        margin-top: 15px;
        height: 80px;
    }

    .gray-box-before {
        width: 800px;
        border-radius: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .gray-box-before h1 {
        font-size: 2.5rem;
    }

    .gray-box-before p {
        font-size: 1.25rem;
    }

    .p-big-margin-top {
        margin-top: 50px;
    }
    
    .p-little-margin-top {
        margin-top: -20px;
    }
    
    .p2 {
        margin-top: 50px;
    }
    
    .p3 {
        margin-top: 50px;
    }
    
    .p4 {
        margin-top: -20px;
        margin-bottom: 65px;
        font-weight: 600;
    }
    
    .p-big-margin-bottom {
        margin-bottom: 65px;
    }
}

@media (max-width: 930px) {
    .img-box {
        display: flex;
        justify-content: center;
        padding-top: 45px;
    }
    
    .top-logo-intraroute {
        margin-top: -10px;
        margin-bottom: -15px;
        width: 80%;
    }

    .gray-box-before {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0.1px;
        padding-bottom: 0.1px;
    }

    .gray-box-before h1 {
        font-size: 1.9rem;
    }

    .gray-box-before p {
        font-size: 1rem;
    }

    .p-big-margin-top {
        margin-top: 50px;
    }
    
    .p-little-margin-top {
        margin-top: -20px;
    }
    
    .p2 {
        margin-top: 50px;
    }
    
    .p3 {
        margin-top: 50px;
    }
    
    .p4 {
        margin-top: -20px;
        margin-bottom: 65px;
        font-weight: 600;
    }
    
    .p-big-margin-bottom {
        margin-bottom: 65px;
    }
}

.gray-box-before {
    background-color: #4d4d4d;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.gray-box-before h1 {
    color: white;
    text-align: center;
}

.gray-box-before p {
    color: white;
    text-align: center;
}

.bold {
    font-weight: 600;
}

.gray-box-before label {
    color: white;
}

.select-fields {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin: 15px;
}

label {
    margin-right: 5px;
    font-size: 1.2rem;
}

select {
    margin-left: 5px;
    font-size: 1.1rem;
}

@media (max-width: 930px) {
    select {
        width: 200px;
    }
}

.button-box {
    display: flex;
    justify-content: center;
}

#submit-button {
    background-color: #4d4d4d;
    color: white;
    border: 3px solid white;
    border-radius: 50px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 45px;
}

@media (min-width: 930px) {
    #submit-button {
        width: 30%;
    }
}

@media (max-width: 930px) {
    #submit-button {
        width: 250px;
    }
}

#submit-button:hover {
    background-color: white;
    color: #4d4d4d;
}

#back-button-box {
    margin-top: 50px;
}

#back-button {
    background-color: white;
    color: #4d4d4d;
    border: 3px solid #4d4d4d;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 35px;
    margin-bottom: 45px;
}

#back-button:hover {
    background-color: #4d4d4d;
    color: white;
}

.box-logo-desktop {
    width: 150px;
}

@media (max-width: 930px) {
    .box-logo-desktop {
        display: none;
    }
}

.box-logo-box {
    display: block;
}

.box-logo-mobile {
    width: 150px;
    margin-top: 15px;
    margin-bottom: 45px;
}

@media (min-width: 930px) {
    .box-logo-box {
        display: none;
    }

    .box-logo-mobile {
        display: none;
    }
}

.pseudo-footer {
    margin-top: 65px;
    margin-bottom: 35px;
}

.pseudo-footer p {
    color: #4d4d4d;
    font-size: 1.1rem;
    text-align: center;
}

.pseudo-footer .big-margin {
    margin-top: 75px;
}

.pseudo-footer .mid-margin {
    margin-top: 35px;
}

.pseudo-footer .small-margin {
    margin-top: -17px;
}

.img-box-2 {
    display: flex;
    justify-content: center;
}

.intraroute-bottom-logo {
    height: 60px;
}

.display-none {
    display: none;
}