.top-logo-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

@media (min-width: 600px) {
    .top-logo-intraroute {
        height: 80px;
    }

    .title {
        margin-top: 65px;
    }
}

@media (max-width: 600px) {
    .top-logo-intraroute {
        height: 60px;
    }

    .title {
        margin-top: 30px;
    }
}

h1 {
    color: #4d4d4d;
    text-align: center;
    font-size: 2.2rem;
}

.text-field {
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#back-button-box {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#back-button {
    background-color: white;
    border: 3px solid #4d4d4d;
    border-radius: 50px;
    width: 300px;
    height: 50px;
    margin-bottom: 45px;
    display: flex;
    justify-content: center;
}

#back-button:hover {
    background-color: #4d4d4d;
}

#back-button a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 7px;
}

#back-button:hover a {
    color: white;
}