* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body {
    margin: 0;
}

.main-logo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    min-width: 500px;
    max-width: 700px;
    display: block;
    margin-top: 100px;
}

.center-box {
    width: 60%;
    min-width: 400px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: #7f7f7f;
    padding: 20px;
    margin-top: 75px;
}

h1, p {
    text-align: center;
    color: white;
    line-height: 115%;
}

h1 {
    font-weight: 600;
    font-size: 2.5rem;
}

p {
    font-size: 1.3rem;
}

.p1 {
    margin-top: 100px;
}

.p2 {
    margin-top: -15px;
}

a {
    color: blue;
}

a:hover {
    color: purple;
    cursor: pointer;
}

.orange-bar {
    background-color: #ff7f27;
    height: 15px;
}

.yellow-bar {
    background-color: #ffc90e;
    height: 15px;
}

.orange-bar, .yellow-bar {
    width: 60%;
    min-width: 400px;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}