@media (max-width: 1400px) {
    .desktop-2 {
        display: none;
    }
}

@media (min-width: 1400px) {
    .mobile-2 {
        display: none;
    }
}

.desktop-2 .content {
    width: 100%;
    height: 500px;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mobile-2 .content {
    width: 100%;
    height: 250px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-primary {
    background-color: #7f7f7f;
}

.content-intra {
    background-color: #4d4d4d;
}

.content-roy {
    background-color: #5a86a8;
}

.content-mbs {
    background-color: blue;
}

.content-bart {
    background-color: #30acdf;
}

.content-fossack {
    background-color: #003875;
}

.content-other {
    background-color: #ffc90e;
    margin-bottom: 100px;
}

.desktop-2 .img-box {
    width: 40%;
    height: 100%;
    overflow: clip;
}

.desktop-2 .img-box-white {
    width: 40%;
    height: 100%;
    overflow: clip;
    background-color: white;
    display: flex;
    justify-content: center;
}

.mobile-2 .img-box {
    width: 100%;
    height: 450px;
    overflow: clip;
}

.mobile-2 .img-box-white {
    width: 100%;
    height: 250px;
    overflow: clip;
    background-color: white;
    display: flex;
    justify-content: center;
}

.desktop-2 .img-fh-center {
    width: 250%;
    translate: -31% -23%;
}

.mobile-2 .img-fh-center {
    width: 300%;
    translate: -35% -23%;
}

.img-intra {
    width: 90%;
}

.img-roy {
    width: 95%;
}

.img-mbs {
    width: 90%;
}

.img-bart {
    width: 100%;
}

.img-fossack {
    width: 90%;
}

.desktop-2 .img-fh {
    width: 90%;
}

.mobile-2 .img-fh {
    height: 150%;
    translate: 0 -7%;
}

.content-text {
    margin: auto auto;
}

.content-text h1, .descriptor-1, .descriptor-2, .descriptor-3, .button p {
    color: white;
    text-align: center;
    font-weight: 600;
}

.desktop-2 .content-text h1 {
    font-size: 3.5rem;
    line-height: 120%;
}

.mobile-2 .content-text h1 {
    font-size: 2.5rem;
    line-height: 120%;
}

.mobile-2 h1 {
    margin-top: 20px;
}

.descriptor-1 {
    font-size: 1.7rem;
    margin-top: -20px;
}

.descriptor-2 {
    font-size: 1.7rem;
    margin-top: -35px;
}

.descriptor-3 {
    font-size: 1.7rem;
    margin-top: 30px;
}

.mobile-2 .descriptor-3 {
    font-size: 1.3rem;
    margin-top: 30px;
}

.button {
    border: 4px solid white;
    border-radius: 30px;
    height: 50px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    display: block;
}

.button p {
    font-size: 1.7rem;
    text-align: center;
    margin-top: 4px;
}

.button a {
    text-decoration: none;
}

.button:has(a:hover) {
    background-color: white;
}

.button:has(a:hover) p {
    color: #4d4d4d;
}

.content-intra > .content-text > .button > a:hover > p {
    color: #4d4d4d
}

.content-roy > .content-text > .button > a:hover > p {
    color: #5a86a8
}

.content-mbs > .content-text > .button > a:hover > p {
    color: blue
}

.content-bart > .content-text > .button > a:hover > p {
    color: #30acdf
}

.content-fossack > .content-text > .button > a:hover > p {
    color: #003875
}

.content-other > .content-text > .button > a:hover > p {
    color: #ffc90e
}

.intraroute-box {
    background-color: #4d4d4d;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 340px;
    max-width: 800px;
    width: 90%;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 50px;
}

.intraroute-box h1 {
    text-align: center;
    color: white;
    display: block;
    font-size: 2.3rem;
}

@media (min-width: 600px) {
    .intraroute-logo {
        height: 70px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
}

@media (max-width: 600px) {
    .intraroute-logo {
        height: 50px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
    }
}

@media (max-width: 800px) {
    .intraroute-box {  
        margin-top: -50px;
        margin-bottom: 50px;
    }
}